:root {
    --main-color: #012f46;
    --secondary-color: #12a5c9;
    --accent1-color: #ffb805;
    --accent2-color: #fa8500;
}

* {
    text-decoration: none;
}

article img {
    float: right;
    margin: 10px;
}

.hero article {
    width: 80%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 215, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: justify;
}

h1 {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    color: var(--accent1-color);*/
}

h2 {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    color: var(--accent1-color);
}

p {
    font-family: "Noto Serif", serif;
    font-style: normal;
    color: var(--accent2-color);
}

.hero {
    position: relative;
    width: 100%;
}

.hero img {
    width: 100%;
}

.hero h1 {
    position: absolute;
    background-color: rgba(56, 30, 249, 0.587);
    width: 80%;
    left: 10%;
    text-align: center;
    top: 0%
    
}

.hero1 img {
    width: 200px;
    height: auto;
}
section img{
    width: 200px;
    height: auto;
}